
body {
    width: 85%;
    margin: 10px auto;
    font-family: Microsoft JhengHei, Arial;
    
    font-size: 28px;
    color: rgb(238, 238, 238);
    background-image: url("background.jpg");
    background-size: cover;
  }

  .hh1{
    width: auto;
    height: auto;
    font-size: 40pt;
  }
  /* 表格 */
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
  
  .bordered {
    border: solid #000000 0px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc;         
  }
  
  .bordered td, .bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 20px;
    text-align: center;    
  }
  
  .bordered th {
    background-color: #ef8376;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
    border-top: none;
    
  }
  
  .bordered td:first-child, .bordered th:first-child {
    border-left: none;
  }
  
  .bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
  }
  
  .bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
  }
  
  .bordered th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
  }
  
  .bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
  }
  
  .bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
  }
  /* 插入列1置中 */
  .middle1{
    width: 770px;
      height: 40px;
      margin:0 auto; 
  }
  
  /* 插入按鈕1 */
  #my1{
    width:40px;
    height:40px;
    background-color: rgba(255, 75, 75, 0.596);
    border: 0px solid white;
    border-radius: 50%;
    color: white;
  }
  
  /* 下拉選單 */
  select {
    -webkit-appearance: none;
    appearance:none;
    background-color: rgba(205, 0, 212, 0.541);
    background: url(../images/select-arrow.png) no-repeat right;
    border: 1px solid rgba(0, 0, 0, 0.651);
    border-radius: 8px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    color: #444;
    font-family: Microsoft JhengHei, Arial;
    font-weight:bold;
    display: inline-block;
  }
  /* 上方按鈕 */
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: right;
    
  }
  
  li a {
    display: block;
    border-radius: 10px;
    color: white;
    text-align: center;
    padding: 10px 10px;
    font-size: 28px;
    text-decoration:none;
  }


  li a:hover {
    background-color: rgba(226, 59, 204, 0.5);
  }
  .one:before {
    content: url("finish_no.png");
    vertical-align: middle;
    margin-right: 5px;
  }
  /* 前往匯出圖案 */
  .two:before {
    content: url("finish_add.png");
    vertical-align: middle;
    margin-right: 5px;
  }
    /* 前往匯出圖案 */
  .three:before {
      content: url("finish_yes.png");
      vertical-align: middle;
      margin-right: 5px;
  }
  
    