
body {
  width: 850px;
  margin: 40px auto;
  font-family: Microsoft JhengHei, Arial;
  font-weight: bold;
  font-size: 16px;
  color: rgb(238, 238, 238);
  background-image: url("background.jpg");
}
/* 表格 */
table {
  *border-collapse: collapse; /* IE7 and lower */
  border-spacing: 0;
  width: 100%;    
}

.bordered {
  border: solid #ccc 1px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 1px #ccc; 
  -moz-box-shadow: 0 1px 1px #ccc; 
  box-shadow: 0 1px 1px #ccc;         
}

.bordered td, .bordered th {
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 10px;
  text-align: center;    
}

.bordered th {
  background-color: #9400b95d;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
  -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
  box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
  border-top: none;
  text-shadow: 0 1px 0 rgba(255,255,255,.5); 
}

.bordered td:first-child, .bordered th:first-child {
  border-left: none;
}

.bordered th:first-child {
  -moz-border-radius: 6px 0 0 0;
  -webkit-border-radius: 6px 0 0 0;
  border-radius: 6px 0 0 0;
}

.bordered th:last-child {
  -moz-border-radius: 0 6px 0 0;
  -webkit-border-radius: 0 6px 0 0;
  border-radius: 0 6px 0 0;
}

.bordered th:only-child{
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
  -moz-border-radius: 0 0 0 6px;
  -webkit-border-radius: 0 0 0 6px;
  border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
  -moz-border-radius: 0 0 6px 0;
  -webkit-border-radius: 0 0 6px 0;
  border-radius: 0 0 6px 0;
}
/* 插入列1置中 */
.middle1{
  width: 850px;
  height: 70px;
  margin: 0 auto; 
}

/* 插入按鈕1 */
#my1{
  width:40px;
  height:40px;
  background-color: rgba(255, 75, 75, 0.596);
  border: 0px solid white;
  border-radius: 50%;
  color: white;
}
/* 插入按鈕2 */
#my2{
  width:40px;
  height:40px;
  background-color: rgba(38, 149, 253, 0.829);
  border: 0px solid white;
  border-radius: 50%;
  color: white;
}
/* 刪除按鈕 */
#my3{
  background-image : url("del2.png");
	width : 18px;
	height :20px;
  border : none;
  background-color: transparent; 
  color: rgba(0, 0, 0, 0);
}

/* 下拉選單 */
select {
  -webkit-appearance: button;
  -moz-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-padding-end: 20px;
  -moz-padding-end: 20px;
  -webkit-padding-start: 2px;
  -moz-padding-start: 2px;
  background-color: rgba(205, 0, 212, 0.541); /* fallback color if gradients are not supported */
  background-image: url(../images/select-arrow.png), -webkit-linear-gradient(top, #E5E5E5, #F4F4F4); /* For Chrome and Safari */
  background-image: url(../images/select-arrow.png), -moz-linear-gradient(top, #E5E5E5, #F4F4F4); /* For old Fx (3.6 to 15) */
  background-image: url(../images/select-arrow.png), -ms-linear-gradient(top, #E5E5E5, #F4F4F4); /* For pre-releases of IE 10*/
  background-image: url(../images/select-arrow.png), -o-linear-gradient(top, #E5E5E5, #F4F4F4); /* For old Opera (11.1 to 12.0) */ 
  background-image: url(../images/select-arrow.png), linear-gradient(to bottom, #E5E5E5, #F4F4F4); /* Standard syntax; must be last */
  background-position: center right;
  background-repeat: no-repeat;
  border: 1px solid rgba(0, 0, 0, 0.651);
  border-radius: 8px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  color: #444;
  font-family: Microsoft JhengHei, Arial;
  font-size: inherit;
  font-weight:bold;
  margin: 0;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  text-overflow: ellipsis;
}
/* 上方按鈕 */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  border-radius: 10px;
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 18px;
}

li a:hover {
  background-color: rgba(226, 59, 204, 0.5);
}
/* 前往首頁圖案 */
.one:before {
  content: url("house.png");
  vertical-align: middle;
  margin-right: 5px;
}
/* 前往匯出圖案 */
.two:before {
  content: url("export.png");
  vertical-align: middle;
  margin-right: 5px;
}
