#container{
    width:500;
    background-color: rgb(187, 255, 187);
}
/*標題*/
#word{
    margin: auto;
    width: 600px;
    font-size: 20pt;
    text-align:center;
    font-weight: bold;
}
/* 直條圖1 */
#flot-placeholder {
    width: 700px;
    height: 300px;
    margin: auto;
}
/* 月表格*/
#table{
    width: 650px;
    margin: auto;
    border:black 1px double;
}
#table th{ border: black 1px solid; text-align:center; }
#table td{ border: brown 1px solid; text-align:center; }


.enter{
    background-color: #0099CC; 
    color:white
}

body {
    width: 850px;
    margin: 40px auto;
    background-color: white;
    font-family: Microsoft JhengHei, sans-serif;
    /*font-weight: bold;*/
    font-size: 14pt;
    background: #58a; 
    background-image: repeating-linear-gradient(30deg, hsla(0,0%,100%,.1), hsla(0,0%,100%,.1) 5px, transparent 0, transparent 40px);
  }