#container{
    width:500;
    background-color: rgb(187, 255, 187);
}
/*標題*/
#word{
    margin: auto;
    width: 600px;
    font-size: 18pt;
    text-align:center;
}
/* 直條圖1 */
#flot-placeholder {
    width: 800px;
    height: 320px;
    margin: auto;
}
/* 月表格*/
#table1{
    margin: auto;
}
/* 直條圖2 */
#flot-placeholder2 {
    width: 600px;
    height: 320px;
    margin: auto;
}
/* 週表格*/
#table2{
    margin: auto;
}
/* 現在週 */
#now_week_display{
    margin: auto;
    width: 600px;
    font-size: 14pt;
    
    text-align:center;
}
#buttons{
    margin: auto;
    width: 600px;
    text-align:center;
}

body {
    width: 850px;
    margin: 40px auto;
    background-color: white;
    font-family: Microsoft JhengHei, Arial;
    font-weight: bold;
    background: #58a; 
    background-image: repeating-linear-gradient(30deg, hsla(0,0%,100%,.1), hsla(0,0%,100%,.1) 5px, transparent 0, transparent 40px);
  }